<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>My Account</span>
            <h1>That Perfectly Fits Your Life</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li><a [routerLink]="['/ourproducts']">Shop</a></li>
              <li class="active">My Account</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start login register area-->
<section class="login-register-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="form">
          <div class="shop-page-title">
            <div class="title">Login <span>Now</span></div>
          </div>
          <div class="row">
            <form action="#">
              <div class="col-xl-12">
                <div class="input-field">
                  <input type="text" name="name" placeholder="Your Name *" />
                  <div class="icon-holder">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="input-field">
                  <input
                    type="text"
                    name="email"
                    placeholder="Enter Mail id *"
                  />
                  <div class="icon-holder">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="input-field">
                  <input
                    type="text"
                    name="password"
                    placeholder="Enter Password"
                  />
                  <div class="icon-holder">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-sm-12">
                    <button class="btn-one" type="submit">Login Now</button>
                    <div class="remember-text">
                      <div class="checkbox">
                        <label>
                          <input name="remember" type="checkbox" />
                          <span>Remember Me</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-sm-12">
                    <ul class="social-icon">
                      <li class="login-with">Or login with</li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-facebook" aria-hidden="true"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i
                            class="fa fa-twitter twitter"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i
                            class="fa fa-google-plus gplus"
                            aria-hidden="true"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="form register">
          <div class="shop-page-title">
            <div class="title">Register <span>Here</span></div>
          </div>
          <div class="row">
            <form action="#">
              <div class="col-md-12">
                <div class="input-field">
                  <input type="text" name="name" placeholder="Your Name *" />
                  <div class="icon-holder">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-field">
                  <input
                    type="text"
                    name="email"
                    placeholder="Enter Mail id *"
                  />
                  <div class="icon-holder">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-field">
                  <input
                    type="text"
                    name="password"
                    placeholder="Enter Password"
                  />
                  <div class="icon-holder">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-12">
                    <button class="btn-one" type="submit">Register Here</button>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="right">
                      <h6>
                        <span>*</span>You must be a free registered user to
                        submit content.
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End login register area-->
