  <!--Start breadcrumb area-->
  <section class="breadcrumb-area style2" style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content-box clearfix">
                    <div class="title-s2 text-center">
                        <span>Our Projects</span>
                        <h1>More than 2300 Projects</h1>
                    </div>
                    <div class="breadcrumb-menu float-left">
                        <ul class="clearfix">
                            <li><a [routerLink]="['/home']">Home</a></li>
                            <li><a [routerLink]="['/classic1']">Projects</a></li>
                            <li class="active">Modern View 01</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Main project area style5-->
<section class="main-project-area style5">
    <div class="container main-project-style5">
        <div class="row masonary-layout">
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-1.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-2.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-3.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-4.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-5.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-6.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-7.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pd0 filter-item contem ret">
                <div class="single-project-style8">
                    <div class="img-holder">
                        <img src="assets/images/projects/v5-8.jpg" alt="Awesome Image">
                        <div class="overlay-content">
                            <div class="inner-content">
                                <div class="title-box">
                                    <span>Contemporary</span>
                                    <h3><a [routerLink]="['/singleblog']">Nathan Brooke House</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single project item-->
        </div>
    </div>
</section>
<!--End Main project area style5-->